.jumbotron {
    text-align: center;
    background-color: lightskyblue;
}

body {
    background-color: lightgray;

}

.first-day, .second-day, .third-day, .fourth-day, .fifth-day {
    background-color: papayawhip;

}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}